@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::-webkit-scrollbar {
    width: 0.4375rem;
}

::-webkit-scrollbar-thumb {
    background-color: #923eff;
    border-radius: 0.75rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background-color: black;
}

div.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

div.principal {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

div.menu_superior {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: black;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #1f2937; 
}

div.logo {
    background-color: black;
    width: 20%;
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
}

#logo_wavesMusic {
    height: 65%;
    border-radius: 7.5rem;
    margin-right: 0;
    margin-left: 2rem;
}

#logo_wavesMusic:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.nome_marca {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #b188f4;
    text-shadow: 1px 1px 2px black;
    font-size: 1.4rem;
    margin: 0;
}

.nome_marca:hover {
    font-size: 1.5rem;
    transition: font-size 0.3s ease;
}

div.links {
    background-color: black;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 7rem;
    align-items: center;
}

div.links a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-family: sans-serif;
}

div.links a:hover {
    color: #d0b2f7;
    transition: color 0.2s ease, font-size 0.2s ease;
    font-size: 1rem;
}

div.caixa-pesquisa {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 30%;
}

div.buscar {
    display: flex;
    align-items: center;
    background-color: #22002c;
    border: 1px solid #1f2937;
    border-radius: 12px;
    padding: 10px 16px;
    width: 100%;
    height: 90%;
    color: #d1d5db;
    font-family: sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.buscar .icone {
    color: #a0a0b2;
    margin-right: 8px;
}

.entrada-busca {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

div.login_carrinho {
    background-color: black;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}

.icone-login {
    height: 23px;
    cursor: pointer;
}

.icone-login:hover,
.icone-carrinho:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.icone-carrinho {
    height: 28px;
    cursor: pointer;
    margin-right: 2rem;
}

div.texto {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 40vh;
    background-color: transparent;
}

div.texto h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    ;
}

div.texto p {
    color: #cecece;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.filtros-container {
    display: flex;
    align-items: center;
    background-color: #090C14;
    padding: 1rem;
    border-radius: 12px;
    gap: 10px;
    border: 1px solid #1F2937;
    width: 90%;
    height: 20vh;
    max-width: 90vw;
    margin: 2rem auto;
}

.filtros-container label {
    color: #ccc;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}

.filtros-container input[type="text"],
.filtros-container select {
    background-color: #1F2937;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-size: 0.9rem;
    outline: none;
}

.filtros-container select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 10px;
    padding-right: 2rem;
}

.filtros-container input::placeholder {
    color: #888;
}

div.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    background-color: transparent;
    width: 100%;
}

.card {
    background-color: #090C14;
    border: 1px solid #1F2937;
    border-radius: 1rem;
    width: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    /* antes podia ser 180px, aumente! */
    height: 400px;
}

.card:hover {
    border: 1px solid #a855f7;
    transition: ease-in-out 0.3s;
}

.card img {
    width: 100%;
    border-radius: 0.75rem;
    background-color: #ddd;
    height: 160px;
    object-fit: cover;
}

.tag-ano {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    background-color: #a855f7;
    color: white;
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 999px;
    font-weight: 600;
}

.genero {
    display: inline-block;
    margin-top: 1rem;
    width: fit-content;
    background-color: transparent;
    border: 1px solid #a855f7;
    color: #c084fc;
    font-size: 0.75rem;
    padding: 4px 10px;
    border-radius: 999px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.artista {
    font-size: 0.9rem;
    color: #b0b0b0;
    font-family: 'Poppins', sans-serif;
}

div.preco-avaliacao {
    display: flex;
    gap: 11rem;
}

.preco {
    color: #c084fc;
    font-size: 1.0rem;
    font-weight: bold;
    margin-top: 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.nota {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #facc15;
    margin-top: 0.2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.nota i {
    margin-right: px;
}

.acoes {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.acoes button {
    flex: 1;
    padding: 10px;
    background-color: black;
    border: 1px solid #1F2937;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.acoes button:hover {
    background-color: #302454;
    transition: background-color 0.3s ease;
    color: #a855f7;
}

.acoes .btn-carrinho {
    flex: initial;
    /* ou 0 0 auto, se quiser evitar o esticamento */
    background-color: #a855f7;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.acoes .btn-carrinho:hover {
    background-color: #9333ea;
    transition: background-color 0.3s ease;
}

.btn-carrinho {
    width: 15%;
    height: 100%;
}

.botao-carrinho i {
    font-size: 1rem;
}

.botao-carrinho:hover {
    background-color: #9333ea;
}

#icone-carrinho{
    height: 20px;
    background-color: #a855f7;
}
#icone-carrinho:hover {
    background-color: #9333ea;
    transition: background-color 0.3s ease;
}

@keyframes moverCores {
    0% {
        background-position: 30% 30%;
    }

    50% {
        background-position: 70% 70%;
    }

    100% {
        background-position: 30% 30%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::-webkit-scrollbar {
    width: 0.4375rem;
}

::-webkit-scrollbar-thumb {
    background-color: #923eff;
    border-radius: 0.75rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background-color: black;
}

div.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

div.principal {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

div.menu_superior {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: black;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #1f2937; 
}

div.logo {
    background-color: black;
    width: 20%;
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
}

#logo_wavesMusic {
    height: 65%;
    border-radius: 7.5rem;
    margin-right: 0;
    margin-left: 2rem;
}

#logo_wavesMusic:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.nome_marca {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #b188f4;
    text-shadow: 1px 1px 2px black;
    font-size: 1.4rem;
    margin: 0;
}

.nome_marca:hover {
    font-size: 1.5rem;
    transition: font-size 0.3s ease;
}

div.links {
    background-color: black;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 7rem;
    align-items: center;
}

div.links a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-family: sans-serif;
}

div.links a:hover {
    color: #d0b2f7;
    transition: color 0.2s ease, font-size 0.2s ease;
    font-size: 1rem;
}

div.caixa-pesquisa {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 30%;
}

div.buscar {
    display: flex;
    align-items: center;
    background-color: #22002c;
    border: 1px solid #1f2937;
    border-radius: 12px;
    padding: 10px 16px;
    width: 100%;
    height: 90%;
    color: #d1d5db;
    font-family: sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.buscar .icone {
    color: #a0a0b2;
    margin-right: 8px;
}

.entrada-busca {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

div.login_carrinho {
    background-color: black;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}

.icone-login {
    height: 23px;
    cursor: pointer;
}

.icone-login:hover,
.icone-carrinho:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.icone-carrinho {
    height: 28px;
    cursor: pointer;
    margin-right: 2rem;
}

div.texto {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 40vh;
    background-color: transparent;
}

div.texto h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    ;}

div.texto p {
    color: #cecece;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.filtros-container {
    display: flex;
    align-items: center;
    background-color: #090C14;
    padding: 1rem;
    border-radius: 12px;
    gap: 10px;
    border: 1px solid #1F2937;
    width: 90%;
    height: 20vh;
    max-width: 90vw;
    margin: 2rem auto;
}

.filtros-container label {
    color: #ccc;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}

.filtros-container input[type="text"],
.filtros-container select {
    background-color: #1F2937;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-size: 0.9rem;
    outline: none;
}

.filtros-container select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 10px;
    padding-right: 2rem;
}

.filtros-container input::placeholder {
    color: #888;
}

div.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    background-color: transparent;
    width: 100%;
}

.card {
    background-color: #090C14;
    border: 1px solid #1F2937;
    border-radius: 1rem;
    width: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    /* antes podia ser 180px, aumente! */
    height: 400px;
}

.card:hover {
    border: 1px solid #a855f7;
    transition: ease-in-out 0.3s;
}

.card img {
    width: 100%;
    border-radius: 0.75rem;
    background-color: #ddd;
    height: 160px;
    object-fit: cover;
}

.tag-ano {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    background-color: #a855f7;
    color: white;
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 999px;
    font-weight: 600;
}

.genero {
    display: inline-block;
    margin-top: 1rem;
    width: fit-content;
    background-color: transparent;
    border: 1px solid #a855f7;
    color: #c084fc;
    font-size: 0.75rem;
    padding: 4px 10px;
    border-radius: 999px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.artista {
    font-size: 0.9rem;
    color: #b0b0b0;
    font-family: 'Poppins', sans-serif;
}

div.preco-avaliacao {
    display: flex;
    gap: 11rem;
}

.preco {
    color: #c084fc;
    font-size: 1.0rem;
    font-weight: bold;
    margin-top: 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.nota {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #facc15;
    margin-top: 0.2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.nota i {
    margin-right: px;
}

.acoes {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.acoes button {
    flex: 1;
    padding: 10px;
    background-color: black;
    border: 1px solid #1F2937;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.acoes button:hover {
    background-color: #302454;
    transition: background-color 0.3s ease;
    color: #a855f7;
}

.acoes .btn-carrinho {
    flex: initial;
    /* ou 0 0 auto, se quiser evitar o esticamento */
    background-color: #a855f7;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.acoes .btn-carrinho:hover {
    background-color: #9333ea;
    transition: background-color 0.3s ease;
}

.btn-carrinho {
    width: 15%;
    height: 100%;
}

.botao-carrinho i {
    font-size: 1rem;
}

.botao-carrinho:hover {
    background-color: #9333ea;
}

#icone-carrinho{
    height: 20px;
    background-color: #a855f7;
}
#icone-carrinho:hover {
    background-color: #9333ea;
    transition: background-color 0.3s ease;
}

@keyframes moverCores {
    0% {
        background-position: 30% 30%;
    }

    50% {
        background-position: 70% 70%;
    }

    100% {
        background-position: 30% 30%;
    }
}